$darkPurple: #57008c;
$grey: #cdcdcd;
$ultra-light-purple: #fcf8ff;
$ultra-light-blue: #bba4ff;
$lightPurple: #f3dfff;
$super-ultra-light-purple: #fcf8ff;
$disabled: #83708e;
.submit-btn {
  cursor: pointer;
  background-color: $darkPurple;
  border: 1px solid $darkPurple;
  border-radius: 0.5rem;
  padding: 8px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ultra-light-purple;
  }
  transition: color 0.25s ease, background-color 0.25s ease;
  &:hover {
    background-color: $ultra-light-purple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $darkPurple;
    }
  }
}

.circle-btn {
  display: inline-block;
  background: #fff;
  border: 2px solid $darkPurple;
  border-radius: 32px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 0 auto;
  transition: color 0.25s ease, background-color 0.25s ease;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $darkPurple;
  }
  &:hover {
    background-color: $darkPurple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $ultra-light-purple;
    }
  }
}

.red-btn {
  cursor: pointer;
  padding: 16px 32px;
  background-color: #e50914;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 264px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.25s ease;

  h5 {
    color: #fcf8ff;
    margin-right: 32px;
  }
  &:hover {
    box-shadow: none;
  }
  &:active {
    background-color: #e43941;
  }
}

.base-btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid $darkPurple;
  padding: 16px 32px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $darkPurple;
  }

  transition: color 0.25s ease, background-color 0.25s ease;
  &:hover {
    background-color: $ultra-light-purple;
  }
  &:active {
    background-color: $darkPurple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $ultra-light-purple;
    }
  }
  &:disabled {
    background-color: $disabled;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #e1e1e1;
    }
  }
}

.base-btn-invert {
  cursor: pointer;
  background-color: $darkPurple;
  border: 1px solid $darkPurple;
  padding: 16px 32px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ultra-light-purple;
  }

  transition: color 0.25s ease, background-color 0.25s ease;
  &:hover {
    background-color: $ultra-light-purple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $darkPurple;
    }
  }
  &:active {
    background-color: $darkPurple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $ultra-light-purple;
    }
  }
  &:disabled {
    background-color: $disabled;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #e1e1e1;
    }
  }
}

.select {
  border: 1px solid black;
  background: #fff;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background-color: $super-ultra-light-purple;
  }
}
.select-active {
  border: 4px solid black;
}
