$darkPurple: #57008c;
$grey: #cdcdcd;
$ultra-light-purple: #fcf8ff;
$ultra-light-blue: #bba4ff;
$lightPurple: #f3dfff;
$super-ultra-light-purple:#FCF8FF;
.submit-btn {
  cursor: pointer;
  background-color: $darkPurple;
  border: 1px solid $darkPurple;
  border-radius: 0.5rem;
  padding: 8px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ultra-light-purple;
  }
  transition: color 0.25s ease, background-color 0.25s ease;
  &:hover {
    background-color: $ultra-light-purple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $darkPurple;
    }
  }
}

.base-btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid $darkPurple;
  padding: 16px 32px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $darkPurple;
  }

  transition: color 0.25s ease, background-color 0.25s ease;
  &:hover {
    background-color: $ultra-light-purple;
  }
  &:active {
    background-color: $darkPurple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $ultra-light-purple;
    }
  }
}

.base-btn-invert {
  cursor: pointer;
  background-color: $darkPurple;
  border: 1px solid $darkPurple;
  padding: 16px 32px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $ultra-light-purple;
  }

  transition: color 0.25s ease, background-color 0.25s ease;
  &:hover {
    background-color: $ultra-light-purple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $darkPurple;
    }
  }
  &:active {
    background-color: $darkPurple;
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $ultra-light-purple;
    }
  }
}

.select {
  border: 1px solid black;
  background: #fff;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background-color: $super-ultra-light-purple;
  }
}
.select-active {
  border: 4px solid black;
}
