@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "./buttons.scss";
@import "./dropdown.scss";
@import "./NativeButton.scss";

$darkPurple: #57008c;
$grey: #cdcdcd;
$greyPurple: #7b6986;
$ultra-light-purple: #fcf8ff;
$ultra-light-blue: #bba4ff;
$super-ultra-light-purple: #fcf8ff;
$black: #1a002b;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
}
p {
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arvo;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
p {
  font-family: Lato;
}
h4 {
  font-weight: 400;
}
// Laptop view, base px 21, multiplier of 1.414

@media only screen and (min-width: 1201px) {
  html {
    font-size: 21px;
  }
  h1 {
    font-size: 5.653rem;
  }
  h2 {
    font-size: 3.998rem;
  }
  h3 {
    font-size: 2.827rem;
  }
  h4 {
    font-size: 1.9993rem;
  }
  h5 {
    font-size: 1.414rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 21px;
  }
}
// Tablet view, base px 21, multiplier of 1.414
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 5.653rem;
  }
  h2 {
    font-size: 3.998rem;
  }
  h3 {
    font-size: 2.827rem;
  }
  h4 {
    font-size: 1.9993rem;
  }
  h5 {
    font-size: 1.414rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}
// Mobile view, base px 18, multiplier of 1.25
@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 3.052rem;
  }
  h2 {
    font-size: 2.441rem;
  }
  h3 {
    font-size: 1.953rem;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 18px;
  }
}

.mobile {
  display: none;
}
@media only screen and (max-width: 634px) {
  .tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 634px) {
  .mobile {
    display: block;
  }
}
.italic {
  font-style: italic;
}
.mar-bottom-1 {
  margin-bottom: 1rem;
  @media only screen and (max-width: 500px) {
    margin-bottom: 0.5rem;
  }
}
.mar-bottom-2 {
  margin-bottom: 2rem;
  @media only screen and (max-width: 500px) {
    margin-bottom: 1rem;
  }
}
.mar-bottom-16 {
  margin-bottom: 16px;
}
.mar-bottom-32 {
  margin-bottom: 32px;
}
.mar-top-32 {
  margin-top: 32px;
}
.mar-top-16 {
  margin-top: 16px;
}
.center-inline {
  text-align: center;
}
.grey {
  color: $grey;
}
.purple {
  color: $darkPurple;
}
.grey-purple {
  color: $greyPurple;
}
.light {
  font-weight: 400;
}
.bold {
  font-weight: 700 !important;
}
.white {
  color: #fff !important;
}
.off-white {
  color: #fcf8ff;
}
.mar-md {
  margin-bottom: 128px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 64px;
  }
}
.mar-sm {
  margin-bottom: 64px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 32px;
  }
}
.mar-top-md {
  margin-top: 128px;
  @media only screen and (max-width: 600px) {
    margin-top: 64px;
  }
}
.mar-top-sm {
  margin-top: 64px;
  @media only screen and (max-width: 600px) {
    margin-top: 32px;
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
  p {
    color: $darkPurple;
  }
}

input {
  &[type="text"] {
    border: 1px solid $grey;
    font-size: 16px;
    border-radius: 0.25rem;
    padding: 8px;
    background-color: $ultra-light-purple;
    margin-bottom: 32px;
    width: 100%;
    &:focus {
      background-color: #fff;
      outline: none;
      border: 1px solid black;
    }
    &:not(:placeholder-shown) {
      border: 1px solid $darkPurple;
    }
  }
}
.input-field {
  position: relative;
  p {
    position: absolute;
    top: 68px;
  }
}
.red {
  color: red;
}
.error {
  border: 1px solid red !important;
  background-color: #ffdada;
  padding: 8px;
  font-size: 16px;
  &::placeholder {
    color: red;
  }
}
fieldset {
  border: none;
}
label {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
  }
}

textarea {
  resize: none;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  height: 160px;
  border: 1px solid $grey;
  background-color: $ultra-light-purple;
  margin-bottom: 1rem;
  &:focus {
    background-color: #fff;
    outline: none;
    border: 1px solid black;
  }
  &:placehold &:not(:placeholder-shown) {
    border: 1px solid $darkPurple;
  }
}

.landscape {
  width: 474.48px !important;
  height: 325.52px !important;
  @media only screen and (max-width: 500px) {
    width: 100% !important;
    height: 240px !important;
  }
}

.portrait {
  width: 344.08px !important;
  height: 455.92px !important;
  @media only screen and (max-width: 500px) {
    width: 100% !important;
  }
}

.tooltip {
  background-color: rgba(205, 205, 205, 1);

  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
}
.flex-seperate {
  display: flex;
  justify-content: space-between;
}
.icon-lg {
  font-size: 40px;
}
.icon-md {
  font-size: 24px;
}
.white {
  color: white;
}
body,
html {
  overflow-x: hidden;
}
body {
  position: relative;
}

.line-global {
  width: 100%;
  height: 1px;
  background-color: $greyPurple;
  margin-top: 8px;
}

.accordion-content {
  overflow-y: scroll;
  transition: height 0.5s ease;
  max-height: 800px;
  @media only screen and (min-width: 600px) {
    display: none;
  }
}
.content-box {
  padding: 32px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid $greyPurple;
}

form {
  padding: 32px;
  border: 1px solid $greyPurple;
  border-radius: 8px;
}
